/* Google Fonts & Flat Icons */
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Flat Icons */
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css'); /* Regular Rounded */
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-rounded/css/uicons-solid-rounded.css');   /* Solid Rounded */
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-rounded/css/uicons-bold-rounded.css');    /* Bold Rounded */
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-thin-rounded/css/uicons-thin-rounded.css');    /* Thin Rounded */

/* Tailwind CSS Import & Source */
@import "tailwindcss";
@source "../views";

/* Global Styles */
@layer base {
    * {
        @apply
            p-0 m-0
            box-border text-[var(--primary)]
            no-underline list-none scroll-smooth
            transition-all ease-in-out duration-500;
        font-family: var(--poppins);
    }
}

/* CSS Variables */
:root {
    --secondary: #1DB954;
    --primary: #121212;
    --bg: #e7fff1;
    --bh: #63ffa2;
    --border: #f1f1f1;
    --hover: #d6d6d6;
    --gray: #222;
    --dark-gray: #969696;
    --color: ;

    --orange-gradient: linear-gradient(0deg, rgba(255,126,0,1) 0%, rgba(255,204,128,1) 100%);
    --green-gradient: linear-gradient(0deg, rgba(29,185,84,1) 0%, rgba(161,227,161,1) 100%);
    --blue-gradient: linear-gradient(0deg, rgba(0,123,255,1) 0%, rgba(128,207,255,1) 100%);
    --purple-gradient: linear-gradient(0deg, rgba(111,66,193,1) 0%, rgba(209,163,255,1) 100%);

    --borel: 'Borel', serif;
    --poppins: 'Poppins', sans-serif;
}

body {
    @apply bg-neutral-50;
}

/* Sidebar Styles */
.sidebar {
    @apply
        fixed top-[20px] left-[20px]
        h-[calc(100vh-40px)] w-[250px]
        bg-[var(--primary)] rounded-[30px]
        p-[20px]
        shadow-[0_0_20px_0_rgba(0,0,0,0.637)]
        transition-all ease-in-out duration-500;
}

.sidebar .header {
    @apply
        w-full h-[60px]
        relative flex items-center justify-center
        mb-[40px]
        transition-all ease-in-out duration-500;
}

.sidebar .logo {
    @apply
        text-[2.3rem] text-[var(--bh)] font-[500]
        mt-[50px]
        transition-all ease-in-out duration-500;
    font-family: var(--borel);
}

.sidebar .logo span {
    @apply
        text-[#fff]
        transition-all ease-in-out duration-500;
    font-family: var(--borel);
}

.sidebar .seperator {
    @apply
        flex
        w-full h-[2px]
        bg-[#ffffff2c]
        my-[30px]
        transition-all ease-in-out duration-500;
}

.sidebar .tabs {
    @apply
        flex flex-col gap-[20px]
        transition-all ease-in-out duration-500;
}

.sidebar .tabs a {
    @apply
        flex items-center justify-start
        text-[1rem] font-[500] text-[#fff]
        px-[17px] bg-[var(--gray)]
        h-[55px]
        border-[2px] border-[#383838] rounded-[15px]
        transition-all ease-in-out duration-500;
}

.sidebar .tabs a i {
    @apply
        text-[1.2rem] text-[#fff]
        mr-[15px] mt-2
        transition-all ease-in-out duration-500;
}

.sidebar .tabs a:hover {
    @apply
        border-[var(--hover)]
        transform translate-y-[-5px] translate-z-[10px];
}

.sidebar .user {
    @apply
        absolute flex items-center justify-between
        text-[1rem] font-[500]
        px-[15px] py-[10px] bg-[var(--gray)]
        bottom-5 left-5 right-5
        border-[2px] border-[#383838] rounded-[15px]
        transition-all ease-in-out duration-500;
}

.sidebar .user:hover {
    @apply
        border-[var(--hover)]
        transform translate-y-[-5px] translate-z-[10px];
}

.sidebar .user h2 {
    @apply
        text-[#fff]
        transition-all ease-in-out duration-500;
}

.sidebar .user p {
    @apply
        text-[#fff]
        transition-all ease-in-out duration-500;
}

.sidebar .user a i {
    @apply
        text-[#fff]
        transition-all ease-in-out duration-500;
}

.sidebar .user h2 {
    @apply
        text-[1rem]
        transition-all ease-in-out duration-500;
}

.sidebar .user p {
    @apply
        text-[0.7rem]
        transition-all ease-in-out duration-500;
}

.sidebar .user a i {
    @apply
        transition-all ease-in-out duration-500;
}

.sidebar .user a {
    @apply
        text-[1.2rem] mt-2
        transition-all ease-in-out duration-500;
}
