/* Google Fonts & Flat Icons */
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Flat Icons */
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css'); /* Regular Rounded */
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-rounded/css/uicons-solid-rounded.css');   /* Solid Rounded */
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-rounded/css/uicons-bold-rounded.css');    /* Bold Rounded */
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-thin-rounded/css/uicons-thin-rounded.css');    /* Thin Rounded */

/* Tailwind CSS Import & Source */
@import "tailwindcss";
@source "../views";

/* Global Styles */
@layer base {
    * {
        @apply
            p-0 m-0
            box-border text-[var(--primary)]
            no-underline list-none scroll-smooth
            transition-all ease-in-out duration-500;
        font-family: var(--poppins);
    }
}

/* CSS Variables */
:root {
    --secondary: #1DB954;
    --primary: #121212;
    --bg: #e7fff1;
    --bh: #63ffa2;
    --border: #f1f1f1;
    --hover: #d6d6d6;
    --gray: #222;
    --dark-gray: #969696;
    --color: ;

    --orange-gradient: linear-gradient(0deg, rgba(255,126,0,1) 0%, rgba(255,204,128,1) 100%);
    --green-gradient: linear-gradient(0deg, rgba(29,185,84,1) 0%, rgba(161,227,161,1) 100%);
    --blue-gradient: linear-gradient(0deg, rgba(0,123,255,1) 0%, rgba(128,207,255,1) 100%);
    --purple-gradient: linear-gradient(0deg, rgba(111,66,193,1) 0%, rgba(209,163,255,1) 100%);

    --borel: 'Borel', serif;
    --poppins: 'Poppins', sans-serif;
}

/* Welcome Page Styles */
.welcome {
    @apply
        h-screen w-screen
        flex flex-col
        justify-center items-center
        bg-[url('/public/images/background.png')] bg-center bg-cover bg-fixed bg-[var(--bg)]
        transition-all ease-in-out duration-500;
}

.welcome .container {
    @apply
        w-screen h-screen
        flex flex-col
        justify-center items-center
        bg-[radial-gradient(ellipse_at_center,var(--bg)_20%,#ebfff3c7_50%,#ebfff354_80%)]
        transition-all ease-in-out duration-500;
}

.welcome h1 {
    @apply text-[7rem]/[4rem] font-[600] text-[var(--secondary)]
    pt-[80px]
    transition-all ease-in-out duration-500;
    font-family: var(--borel);
}

.welcome h1 span {
    @apply text-[var(--primary)]
    transition-all ease-in-out duration-500;
    font-family: var(--borel);
}

.welcome p {
    @apply text-[1.2rem]/[1rem] font-medium mt-4 tracking-[12px] pb-[60px]
    transition-all ease-in-out duration-500;
}

.welcome .buttons {
    @apply flex justify-center items-center gap-2
    transition-all ease-in-out duration-500;
}

.welcome .buttons a {
    @apply
        px-5 py-2
        text-lg font-semibold
        transition-all ease-in-out duration-500;
}

/* First Button */
.welcome .buttons a:nth-child(1) {
    @apply
        text-[var(--bg)]
        bg-[var(--primary)]
        border-[3px] border-[var(--primary)] rounded-l-[50px] rounded-tr-[15px] rounded-br-[15px]
        transition-all ease-in-out duration-500;
}

.welcome .buttons a:nth-child(1):hover {
    @apply
        text-[var(--primary)]
        bg-[var(--bg)];
}

/* Second Button */
.welcome .buttons a:nth-child(2) {
    @apply
        text-[var(--primary)]
        bg-[var(--bg)]
        border-[3px] border-[var(--primary)] rounded-r-[50px] rounded-tl-[15px] rounded-bl-[15px]
        transition-all ease-in-out duration-500;
}

.welcome .buttons a:nth-child(2):hover {
    @apply
        text-[var(--bg)]
        bg-[var(--primary)];
}

/* Sidebar Styles */
.sidebar {
    @apply
        fixed top-[20px] left-[20px]
        h-[calc(100vh-40px)] w-[250px]
        bg-[var(--primary)] rounded-[30px]
        p-[20px]
        shadow-[0_0_20px_0_rgba(0,0,0,0.637)]
        transition-all ease-in-out duration-500;
}

.sidebar .header {
    @apply
        w-full h-[60px]
        relative flex items-center justify-center
        mb-[40px]
        transition-all ease-in-out duration-500;
}

.sidebar .logo {
    @apply
        text-[2.3rem] text-[var(--bh)] font-[500]
        mt-[50px]
        transition-all ease-in-out duration-500;
    font-family: var(--borel);
}

.sidebar .logo span {
    @apply
        text-[#fff]
        transition-all ease-in-out duration-500;
    font-family: var(--borel);
}

.sidebar .seperator {
    @apply
        flex
        w-full h-[2px]
        bg-[#ffffff2c]
        my-[30px]
        transition-all ease-in-out duration-500;
}

.sidebar .tabs {
    @apply
        flex flex-col gap-[20px]
        transition-all ease-in-out duration-500;
}

.sidebar .tabs a {
    @apply
        flex items-center justify-start
        text-[1rem] font-[500] text-[#fff]
        px-[17px] bg-[var(--gray)]
        h-[55px]
        border-[2px] border-[#383838] rounded-[15px]
        transition-all ease-in-out duration-500;
}

.sidebar .tabs a i {
    @apply
        text-[1.2rem] text-[#fff]
        mr-[15px] mt-2
        transition-all ease-in-out duration-500;
}

.sidebar .tabs a:hover {
    @apply
        border-[var(--hover)]
        transform translate-y-[-5px] translate-z-[10px];
}

.sidebar .user {
    @apply
        absolute flex items-center justify-between
        text-[1rem] font-[500]
        px-[15px] py-[10px] bg-[var(--gray)]
        bottom-5 left-5 right-5
        border-[2px] border-[#383838] rounded-[15px]
        transition-all ease-in-out duration-500;
}

.sidebar .user:hover {
    @apply
        border-[var(--hover)]
        transform translate-y-[-5px] translate-z-[10px];
}

.sidebar .user h2 {
    @apply
        text-[#fff]
        transition-all ease-in-out duration-500;
}

.sidebar .user p {
    @apply
        text-[#fff]
        transition-all ease-in-out duration-500;
}

.sidebar .user a i {
    @apply
        text-[#fff]
        transition-all ease-in-out duration-500;
}

.sidebar .user h2 {
    @apply
        text-[1rem]
        transition-all ease-in-out duration-500;
}

.sidebar .user p {
    @apply
        text-[0.7rem]
        transition-all ease-in-out duration-500;
}

.sidebar .user a i {
    @apply
        transition-all ease-in-out duration-500;
}

.sidebar .user a {
    @apply
        text-[1.2rem] mt-2
        transition-all ease-in-out duration-500;
}

.body {
    @apply bg-neutral-50;
}

/*Header Styles */
.dashboard header {
    @apply
        h-fit w-full py-2.5 px-2.5 pl-7
        bg-white shadow-[0_5px_15px_0_rgba(0,0,0,0.20)]
        flex items-center justify-between
        rounded-full
        translate-z-0
        transition-all duration-500 ease-in-out;
}

.dashboard header .greeting {
    @apply
        text-[1.6rem] text-[var(--primary)] font-[500]
        transition-all ease-in-out duration-500;
}

.dashboard header .search {
    @apply
        flex items-center justify-center gap-2.5
        w-fit h-fit
        transition-all ease-in-out duration-500;
}

.dashboard header .search input {
    @apply
        w-[350px] h-[50px] px-[20px]
        bg-gray-50 text-[var(--primary)]
        border border-gray-200 rounded-full
        transition-all ease-in-out duration-500;
}

.dashboard header .search input:focus {
    @apply
        bg-white
        rounded-[30px]
        shadow-[0_3px_5px_0_rgba(0,0,0,0.1)]
        translate-z-0
        transition-all duration-500 ease-in-out
        outline-none;
}

.dashboard header .search input::placeholder {
    @apply
        text-gray-400
        transition-all ease-in-out duration-500;
}

.dashboard header .search i {
    @apply
        flex items-center justify-center text-[1.1rem]
        h-[50px] w-[50px]
        bg-gray-50 text-[var(--primary)] rounded-full
        border border-gray-200
        hover:bg-gray-100
        transition-all ease-in-out duration-500;
}

/* Dashboard Styles */
.dashboard {
    @apply
        h-screen w-full gap-8
        flex items-start justify-between
        pl-[290px] p-5
        transition-all ease-in-out duration-500;
}

.dashboard .left {
    @apply
        w-[70%] h-full
        flex flex-col gap-8
        transition-all ease-in-out duration-500;
}

.dashboard .right {
    @apply
        w-[30%] h-full
        flex flex-col gap-8
        transition-all ease-in-out duration-500;
}

.dashboard .brief {
    @apply
        h-fit w-full gap-5
        flex items-center justify-between
        transition-all ease-in-out duration-500;
}

.dashboard .brief .task {
    @apply
        h-[220px] w-[220px]
        aspect-square
        flex flex-col items-start justify-between
        p-[30px] rounded-[30px]
        transition-all ease-in-out duration-500;
}

.dashboard .brief .task:nth-child(1) {
    @apply bg-gradient-to-t from-[#007bff] to-[#80cfff] shadow-[0_12px_20px_0] shadow-[#007bff99];
}

.dashboard .brief .task:nth-child(2) {
    @apply bg-gradient-to-t from-[#1db954] to-[#a1e3a1] shadow-[0_12px_20px_0] shadow-[#1db95499];
}

.dashboard .brief .task:nth-child(3) {
    @apply bg-gradient-to-t from-[#ff7e00] to-[#ffcc80] shadow-[0_12px_20px_0] shadow-[#ff7e0099];
}

.dashboard .brief .task:nth-child(4) {
    @apply bg-gradient-to-t from-[#6f42c1] to-[#d1a3ff] shadow-[0_12px_20px_0] shadow-[#6f42c199];
}

.dashboard .brief .task i {
    @apply
        text-[2.4rem] leading-1 text-[#fff]
        transition-all ease-in-out duration-500;
}

.dashboard .brief .task p {
    @apply
        text-[3rem] leading-10 font-[500] text-[#fff]
        transition-all ease-in-out duration-500;
}

.dashboard .brief .task h2 {
    @apply
        text-[1.2rem] font-[500] text-[#fff]
        transition-all ease-in-out duration-500;
}

.dashboard .today {
    @apply
        h-[565px] w-full min-w-[900px] gap-4
        flex flex-col p-[30px]
        bg-[#fff]
        rounded-[30px] overflow-hidden
        shadow-[0_5px_15px_0_rgba(0,0,0,0.20)]
        translate-z-0
        transition-all duration-500 ease-in-out;
}

.dashboard .today .top {
    @apply h-6 flex items-center justify-between;
}

.dashboard .today h2 {
    @apply
        text-[1.5rem] font-[600] text-[var(--primary)]
        transition-all ease-in-out duration-500;
}

.dashboard .today .top a {
    @apply
        flex items-center justify-center
        text-[1.3rem]
        text-[var(--dark-gray)] rounded-full;
}

.dashboard .today .top a i {
    @apply
        flex items-center justify-center;
}

.today .bottom {
    @apply
        h-full w-full mt-2.5
        flex items-start justify-between gap-5
        transition-all ease-in-out duration-500;
}

.dashboard .today .task-container {
    @apply
        h-full w-[70%] flex flex-col gap-5
        grid grid-cols-2 gap-5 max-w-[80%]
        transition-all ease-in-out duration-500;
}

.dashboard .today .task {
    @apply
        flex flex-col
        h-full w-full
        py-[10px] px-[15px] rounded-[15px]
        bg-[#fff] border-[1px] border-[var(--hover)]
        shadow-[0_5px_15px_0_rgba(0,0,0,0.10)]
        transition-all ease-in-out duration-500;
}

.dashboard .today .task:nth-child(1) {
    @apply
        bg-[#fff9c4] border-[#fbc02d]
        shadow-[0_5px_15px_rgba(251,192,45,0.3)]
        translate-z-0
        transition-all duration-300 ease-in-out;
}

.dashboard .today .task:nth-child(1):hover {
    @apply
        shadow-[0_15px_30px_rgba(251,192,45,0.4)]
        -translate-y-[10px] translate-z-[20px];
}

.dashboard .today .task:nth-child(2) {
    @apply
        bg-[#ffe0b2] border-[#f57c00]
        shadow-[0_5px_15px_rgba(245,124,0,0.3)]
        translate-z-0
        transition-all duration-300 ease-in-out;
}

.dashboard .today .task:nth-child(2):hover {
    @apply
        shadow-[0_15px_30px_rgba(245,124,0,0.4)]
        -translate-y-[10px] translate-z-[20px];
}

.dashboard .today .task:nth-child(3) {
    @apply
        bg-[#c8e6c9] border-[#388e3c]
        shadow-[0_5px_15px_rgba(56,142,60,0.3)]
        translate-z-0
        transition-all duration-300 ease-in-out;
}

.dashboard .today .task:nth-child(3):hover {
    @apply
        shadow-[0_15px_30px_rgba(56,142,60,0.4)]
        -translate-y-[10px] translate-z-[20px];
}

.dashboard .today .task:nth-child(4) {
    @apply
        bg-[#bbdefb] border-[#1976d2]
        shadow-[0_5px_15px_rgba(25,118,210,0.3)]
        translate-z-0
        transition-all duration-300 ease-in-out;
}

.dashboard .today .task:nth-child(4):hover {
    @apply
        shadow-[0_15px_30px_rgba(25,118,210,0.4)]
        -translate-y-[10px] translate-z-[20px];
}

.today .task .header {
    @apply
        flex items-center justify-between mb-1;
}

.today .task h1 {
    @apply text-[1.3rem] text-left font-[600];
}

.today .task button {
    @apply
        flex items-center justify-center
        text-[1rem] font-[400] mt-1;
}

.today .task p {
    @apply text-[0.9rem] text-justify font-[500] mb-2;
}

.today .task .desc {
    @apply text-[0.9rem] text-justify font-[500] mt-[5px];
    font-family: var(--borel);
}

.today .task .marker {
    @apply
        absolute bottom-[15px]
        flex items-center justify-center
        w-[50px] h-[10px]
        rounded-full
        transition-all ease-in-out duration-500;
}

/* Reddish Yellow task marker */
.today .task:nth-child(1) .marker {
    @apply bg-[#ffad31] border-[#ff8f00];
}

/* Reddish Orange task marker */
.today .task:nth-child(2) .marker {
    @apply bg-[#ff5722] border-[#e64a19];
}

/* Blueish Green task marker */
.today .task:nth-child(3) .marker {
    @apply bg-[#26a69a] border-[#00897b];
}

/* Purpleish Blue task marker */
.today .task:nth-child(4) .marker {
    @apply bg-[#5c6bc0] border-[#3949ab];
}

.today .schedule-container {
    @apply
        w-[40%] flex flex-col gap-2.5
        h-[455px] overflow-y-auto
        bg-[#fff] border-[1px] border-[var(--hover)]
        rounded-[15px] py-[10px] px-[10px]
        inset-shadow-[0_5px_10px_0_rgba(0,0,0,0.20)]
        scroll-auto
        transition-all ease-in-out duration-500;
}

.today .schedule-container::-webkit-scrollbar {
    @apply w-2 hidden;
}

/*.today .schedule-container::-webkit-scrollbar-track {
    @apply bg-[var(--hover)] rounded-[10px] my-2.5;
}

.today .schedule-container::-webkit-scrollbar-thumb {
    @apply bg-[var(--primary)] rounded-[10px] my-0.5;
}

.today .schedule-container::-webkit-scrollbar-thumb:hover {
    @apply bg-[var(--primary)];
}*/

.today .schedule {
    @apply
        flex items-center justify-between
        h-[50px] w-[100%] px-[15px]
        rounded-[10px]
        flex-shrink-0
        transition-all ease-in-out duration-500;
}

.today .schedule {
    @apply
        bg-white
        shadow-[0_3px_10px_rgba(0,0,0,0.1)]
        translate-z-0;
}

.today .schedule:hover {
    @apply
        bg-gray-50
        shadow-[0_5px_15px_rgba(0,0,0,0.2)]
        -translate-y-[2px] translate-z-[5px];
}

.today .schedule p {
    @apply text-[0.9rem] font-[500];
}

.clock-container {
    @apply
        w-full h-fit
        flex items-center justify-center
        bg-white
        rounded-[30px]
        p-[45px]
        shadow-[0_5px_15px_0_rgba(0,0,0,0.20)]
        translate-z-0
        transition-all duration-500 ease-in-out;
}

.clock {
    @apply
        flex items-center justify-center gap-2
        transition-all ease-in-out duration-500;
}

.clock p {
    @apply
        text-[3rem] font-[600] text-[var(--primary)]
        transition-all ease-in-out duration-500;
}

.calendar-container {
    @apply
        w-full h-fit gap-10
        flex flex-col items-start justify-center;
}

.calendar-container .calendar {
    @apply
        w-full
        bg-white
        rounded-[30px]
        p-[30px]
        shadow-[0_5px_15px_0_rgba(0,0,0,0.20)]
        translate-z-0
        transition-all duration-500 ease-in-out;
}

.calendar-header {
    @apply
        flex
        justify-between
        items-center
        mb-4;
}

.calendar-title {
    @apply
        text-lg
        font-semibold;
}

.calendar-nav {
    @apply
        flex
        gap-2;
}

.calendar-nav-btn {
    @apply
        p-1
        rounded;
}

.calendar-nav-btn:hover {
    @apply bg-gray-100;
}

.calendar-grid {
    @apply
        grid
        grid-cols-7
        gap-1
        text-center
        mb-2;
}

.calendar-day-label {
    @apply
        text-gray-500
        text-sm;
}

.weather {
    @apply
        w-full
        bg-white
        rounded-[30px]
        p-[30px]
        shadow-[0_5px_15px_0_rgba(0,0,0,0.20)]
        translate-z-0
        transition-all duration-500 ease-in-out;
}

.weather-header {
    @apply
        flex
        justify-between
        items-center
        mb-4;
}

.weather-header h2 {
    @apply
        text-lg
        font-semibold;
}

.weather-header .location {
    @apply
        flex items-center
        gap-2
        text-sm text-gray-500;
}

.weather-header .location i {
    @apply
        text-[0.9rem] pt-1;
}

.weather-info {
    @apply
        flex
        flex-col
        gap-6;
}

.temperature {
    @apply
        flex
        flex-col
        items-center
        gap-2;
}

.temperature h1 {
    @apply
        text-4xl
        font-[700];
}

.temperature p {
    @apply
        text-[1rem]
        text-gray-500 flex gap-2;
}

.temperature p i{
    @apply
        text-[1.2rem] pt-0.5
        text-gray-500 flex gap-2;
}


.details {
    @apply
        flex items-center justify-between
        grid grid-cols-2 gap-4;
}

.detail {
    @apply
        flex
        flex-col
        items-center
        gap-2
        p-4
        rounded-xl
        bg-gray-50;
}

.detail:hover {
    @apply
        bg-white
        shadow-[0_5px_15px_rgba(0,0,0,0.2)]
        -translate-y-[2px] translate-z-[5px];
}

.detail i {
    @apply
        text-xl
        text-gray-600;
}

.detail p:first-of-type {
    @apply
        text-sm
        text-gray-500;
}

.detail p:last-of-type {
    @apply
        font-semibold;
}

/* Tasks Styles */
.tasks {
    @apply
        max-h-max w-full gap-8
        flex flex-col items-start justify-between
        pl-[290px] p-5
        transition-all ease-in-out duration-500;
}

/*Header Styles */
.tasks header {
    @apply
        h-fit w-[calc(100vw-310px)] py-2.5 px-2.5 pl-7 fixed
        bg-white shadow-[0_5px_15px_0_rgba(0,0,0,0.20)]
        flex items-center justify-between
        rounded-full translate-z-0
        transition-all duration-500 ease-in-out;
}

.tasks header h1 {
    @apply
        text-[1.6rem] text-[var(--primary)] font-[600]
        transition-all ease-in-out duration-500;
}

.tasks header .nowsec {
    @apply flex items-center justify-between gap-3;
}

.tasks header p {
    @apply
        flex items-center justify-between pt-1.5 text-[1.5rem];
}

.tasks header span {
    @apply
        text-[1.3rem] text-[var(--primary)] font-[500]
        transition-all ease-in-out duration-500;
}

.tasks header .search {
    @apply
        flex items-center justify-center gap-2.5
        w-fit h-fit
        transition-all ease-in-out duration-500;
}

.tasks header .search input {
    @apply
        w-[350px] h-[50px] px-[20px]
        bg-gray-50 text-[var(--primary)]
        border border-gray-200 rounded-full
        transition-all ease-in-out duration-500;
}

.tasks header .search input:focus {
    @apply
        bg-white
        rounded-[30px]
        shadow-[0_3px_5px_0_rgba(0,0,0,0.1)]
        translate-z-0
        transition-all duration-500 ease-in-out
        outline-none;
}

.tasks header .search input::placeholder {
    @apply
        text-gray-400
        transition-all ease-in-out duration-500;
}

.tasks header .search i {
    @apply
        flex items-center justify-center text-[1.1rem]
        h-[50px] w-[50px]
        bg-gray-50 text-[var(--primary)] rounded-full
        border border-gray-200
        hover:bg-gray-100
        transition-all ease-in-out duration-500;
}

.tasks header .create {
    @apply
        h-[50px] px-6
        flex items-center justify-center gap-3
        bg-[var(--primary)]
        text-[1.1rem] font-[500] text-white
        rounded-full border-[3px] border-[var(--primary)]
        transition-all ease-in-out duration-500;
}

.tasks header .create:hover {
    @apply
        bg-white
        text-[var(--primary)]
}

.tasks header .create:hover i {
    @apply
        text-[var(--primary)];
}

.tasks header .create i {
    @apply
        text-[1rem] text-white
        flex items-center justify-center
        text-[var(--primary)]
        transition-all ease-in-out duration-500;
}

.tasks .today {
    @apply
        h-fit w-1/3
        flex flex-col gap-5
        transition-all ease-in-out duration-500
        rounded-[30px]
        shadow-[0_5px_15px_0_rgba(0,0,0,0.10)]
        mt-[90px] p-8  bg-white;
}

.tasks .today .header {
    @apply
        flex items-center justify-between
        transition-all ease-in-out duration-500;
}

.tasks .today .header h1 {
    @apply
        text-[1.5rem] font-[600]
        transition-all ease-in-out duration-500;
}

.tasks .today .header .selector {
    @apply
        flex justify-center items-center gap-2
        text-[1rem] border border-gray-200 rounded-full
        cursor-pointer hover:border-gray-300 focus:outline-none;
}

.tasks .today .header select {
    @apply
        appearance-none h-full w-full text-[0.9rem]
        py-2 pl-3
        cursor-pointer focus:outline-none;
}

.tasks .today .header .selector i {
    @apply
        text-[0.9rem] pt-1.5 pr-3;
}

.tasks .task-container {
    @apply
        flex flex-col gap-3;
}

.tasks .task-container .task {
    @apply
        flex justify-between relative
        h-fit w-full gap-2.5
        p-5 rounded-[15px]
        border-[1px] border-[var(--hover)]
        shadow-[0_5px_15px_0_rgba(0,0,0,0.10)]
        transition-all ease-in-out duration-500;
}

.tasks .task-container .task .left {
    @apply
        flex gap-5 justify-between;
}

.tasks .task-container .task .top {
    @apply
        flex flex-col justify-between;
}

.tasks .task-container .task .strip {
    @apply
        flex h-full w-[8px] bg-green-500
        rounded-full
        transition-all ease-in-out duration-500;
}

.tasks .task-container .task h1 {
    @apply text-[1.3rem] font-[600];
}

.tasks .task-container .task p {
    @apply text-[0.8rem] font-[500] leading-2 pt-2;
}

.tasks .task-container .task .popup {
    @apply
        hidden absolute right-[-50px] bg-white p-1 pt-0 h-fit
        border-[1px] border-[var(--hover)] rounded-[15px]
        shadow-[0_5px_20px_0_rgba(0,0,0,0.20)]
        transition-all ease-in-out duration-500;
}

.tasks .task-container .task .popup.active {
    @apply
        flex;
    animation: popup 0.3s ease-in-out forwards;
}

@keyframes popup {
    0% {
        opacity: 0;
        transform: scale(80%);
    }

    60% {
        opacity: 1;
        transform: scale(105%);
    }

    100% {
        transform: scale(100%);
    }
}

.tasks .task-container .task .popup ul {
    @apply
        w-full h-fit flex flex-col gap-0
        transition-all ease-in-out duration-500;
}

.tasks .task-container .task .popup ul li button {
    @apply
        w-full h-fit flex gap-3 justify-start
        text-[1rem] py-2 px-4 border-[var(--hover)] rounded-[11px]
        transition-all ease-in-out duration-500;
}

.tasks .task-container .task .popup ul li button:hover {
    @apply
        bg-gray-200;
}

.tasks .task-container .task .popup ul li button i {
    @apply
        text-[1rem] pt-1;
}
